<a href="https://colab.research.google.com/github/rashida048/Big-Data-Anlytics-Pyspark/blob/main/pyspark_rdd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 29 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 49.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=0a738ab88df98e2bfe729ecae3593b6a312f8311b02e6be4515850c9a008a72e
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark
from pyspark import SparkContext

In [3]:
sc = SparkContext.getOrCreate()

In [4]:
lines = sc.textFile("usa.txt")

In [5]:
lines.take(4)

["The United States of America (U.S.A. or USA), commonly known as the United States (U.S. or US) or America, is a country primarily located in North America. It consists of 50 states, a federal district, five major unincorporated territories, 326 Indian reservations, and nine minor outlying islands.[h] At nearly 3.8 million square miles (9.8 million square kilometers), it is the world's third- or fourth-largest country by geographic area.[c] The United States shares land borders with Canada to the north and Mexico to the south as well as maritime borders with the Bahamas, Cuba, Russia, and other countries.[i] With a population of more than 331 million people,[j] it is the third most populous country in the world. The national capital is Washington, D.C., and the most populous city and financial center is New York City.",
 '',
 "Paleo-Indians migrated from Siberia to the North American mainland at least 12,000 years ago, and European colonization began in the 16th century. The United States emerged from the Thirteen British Colonies established along the East Coast. Disputes with Great Britain over taxation and political representation led to the American Revolutionary War (1775–1783), which established the nation's independence. In the late 18th century, the U.S. began expanding across North America, gradually obtaining new territories, sometimes through war, frequently displacing Native Americans, and admitting new states. This was strongly related to belief in manifest destiny, and by 1848, the United States spanned the continent from east to west. Slavery was legal in the southern United States until the second half of the 19th century, when the American Civil War led to its abolition. The Spanish–American War and World War I established the U.S. as a world power, and the aftermath of World War II left the United States and the Soviet Union as the world's two superpowers. During the Cold War, both sides fought in the Korean and Vietnam Wars but avoided direct military conflict. They competed in the Space Race, culminating in the 1969 American spaceflight that first landed humans on the Moon. The Soviet Union's dissolution in 1991 ended the Cold War, leaving the United States as the world's sole superpower.",
 '']

In [6]:
words = lines.flatMap(lambda x: x.split(' '))
words.take(4)

['The', 'United', 'States', 'of']

In [7]:
wordsAsTuples = words.map(lambda x: (x, 1))

In [8]:
wordsAsTuples.take(2)

[('The', 1), ('United', 1)]

In [9]:
counts = wordsAsTuples.reduceByKey(lambda x, y: x+y)

In [10]:

counts.take(3)

[('The', 9), ('United', 14), ('States', 12)]

In [11]:
counts.top(10, lambda x: x[1])

[('the', 46),
 ('and', 24),
 ('of', 20),
 ('United', 14),
 ('is', 13),
 ('a', 13),
 ('States', 12),
 ('in', 12),
 ('The', 9),
 ('to', 7)]

In [55]:
numbers_only = wordsAsTuples.groupByKey().map(lambda x: sum(x[1]))

In [56]:
numbers_only.collect()

[9,
 14,
 12,
 20,
 1,
 1,
 6,
 1,
 2,
 13,
 3,
 1,
 12,
 3,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 6,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 3,
 2,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 5,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 46,
 1,
 13,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 24,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 6,
 5,
 1,
 1,
 1,
 2,
 4,
 1,
 7,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 5,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [57]:
total_words = numbers_only.reduce(lambda x, y: x+y)

In [59]:
total_words

575

In [60]:
rdd_map = sc.parallelize([("a", [1, 2, 3, 4]), ("b", [10, 2, 8, 1])])

In [62]:
rdd_map.mapValues(lambda x: sum(x)).collect()

[('a', 10), ('b', 21)]

In [64]:
sc.parallelize([1, 2, 1, 3, 2, 4, 1, 4, 4]).countByValue()

defaultdict(int, {1: 3, 2: 2, 3: 1, 4: 3})

AggregateByKey

In [65]:
rdd = sc.parallelize([("c1", "p1"), ("c2", "p1"), ("c1", "p1") , ("c2", "p2") , ("c2", "p3")])
rdd.collect()

[('c1', 'p1'), ('c2', 'p1'), ('c1', 'p1'), ('c2', 'p2'), ('c2', 'p3')]

In [66]:
def mySequenceFunction(x, y):
  x.add(y)
  return x 

def myCombinerFunction(x, y): 
  x.update(y)
  return x 

rdd.aggregateByKey(set([]), mySequenceFunction, myCombinerFunction).collect()

[('c1', {'p1'}), ('c2', {'p1', 'p2', 'p3'})]

In [80]:
data = sc.parallelize([("a",1),("b",2),("a",2),("b",3)])

In [81]:
data.getNumPartitions()

2

In [83]:
data.glom().collect()

[[('a', 1), ('b', 2)], [('a', 2), ('b', 3)]]

In [84]:
data.aggregateByKey(0, lambda acc, val: acc+val, lambda acc1,acc2: acc1+acc2).collect()

[('b', 5), ('a', 3)]

In [13]:
counts.sortByKey().take(10)

[('', 3),
 ('(1775–1783),', 1),
 ('(9.8', 1),
 ('(U.S.', 1),
 ('(U.S.A.', 1),
 ('12,000', 1),
 ('16th', 1),
 ('1848,', 1),
 ('18th', 1),
 ('1969', 1)]

In [14]:
counts.sortByKey(False).take(10)

[('years', 1),
 ('world.', 1),
 ('world,', 1),
 ("world's", 6),
 ('world', 2),
 ('with', 4),
 ('which', 1),
 ('when', 1),
 ('west.', 1),
 ('well', 1)]

In [15]:
r1 = [('a', 1), ('B', 2), ('c', 3), ('D', 4), ('e', 5)]

In [16]:
r1.extend([('F', 6), ('G', 7), ('h', 8)])

In [17]:
r1

[('a', 1),
 ('B', 2),
 ('c', 3),
 ('D', 4),
 ('e', 5),
 ('F', 6),
 ('G', 7),
 ('h', 8)]

In [18]:
sc.parallelize(r1).sortByKey(True, 3, keyfunc=lambda k: k.upper()).collect()

[('a', 1),
 ('B', 2),
 ('c', 3),
 ('D', 4),
 ('e', 5),
 ('F', 6),
 ('G', 7),
 ('h', 8)]

In [19]:
counts.filter(lambda x: x[0] != '').top(10, lambda x: x[1])

[('the', 46),
 ('and', 24),
 ('of', 20),
 ('United', 14),
 ('is', 13),
 ('a', 13),
 ('States', 12),
 ('in', 12),
 ('The', 9),
 ('to', 7)]

In [20]:
sc.parallelize([12, 100, 122, 34, 56, 81, 89]).top(2)

[122, 100]

In [21]:
sc.parallelize([12, 100, 122, 34, 56, 81, 89]).top(2, key=str)

[89, 81]

In [22]:
rdd1 = sc.parallelize([('az', 50), ('zq',15 ), ('ap', 10), ('ca', 121),
                       ('la', 92), ('mn', 39)])

In [23]:
rdd1.top(3)

[('zq', 15), ('mn', 39), ('la', 92)]

In [24]:
rdd1.top(3, key = str)

[('zq', 15), ('mn', 39), ('la', 92)]

In [25]:
rdd1.top(3, key = lambda x: x[1])

[('ca', 121), ('la', 92), ('az', 50)]

In [26]:
rdd1.top(3, key = lambda x: x[0])

[('zq', 15), ('mn', 39), ('la', 92)]

filter

In [27]:
r1 = sc.parallelize([12, 100, 122, 34, 56, 81, 89])

In [28]:
r1.filter(lambda x: x%2 == 0).collect()

[12, 100, 122, 34, 56]

In [29]:
st = ["this is my house",
      "I have  been living  here since 2010",
      "I will  live here till 2030 ",
      "I finished my     achelor 5 years ago",
      "I will   finish my phd in 2 years"]

In [30]:
r2 = sc.parallelize(st)

In [31]:
r2.take(3)

['this is my house',
 'I have  been living  here since 2010',
 'I will  live here till 2030 ']

In [32]:
r21 =r2.flatMap(lambda x: x.split(' '))

In [33]:
r21.take(15)

['this',
 'is',
 'my',
 'house',
 'I',
 'have',
 '',
 'been',
 'living',
 '',
 'here',
 'since',
 '2010',
 'I',
 'will']

In [34]:
r21 = r21.filter(lambda x: x != '')

In [35]:
r21.take(15)

['this',
 'is',
 'my',
 'house',
 'I',
 'have',
 'been',
 'living',
 'here',
 'since',
 '2010',
 'I',
 'will',
 'live',
 'here']

In [36]:
r21.flatMap(lambda x: x.split(' ')).collect()

['this',
 'is',
 'my',
 'house',
 'I',
 'have',
 'been',
 'living',
 'here',
 'since',
 '2010',
 'I',
 'will',
 'live',
 'here',
 'till',
 '2030',
 'I',
 'finished',
 'my',
 'achelor',
 '5',
 'years',
 'ago',
 'I',
 'will',
 'finish',
 'my',
 'phd',
 'in',
 '2',
 'years']

Union

In [37]:
rd1 = sc.parallelize([2, 4, 7, 9])
rd2 = sc.parallelize([1, 4, 5, 8, 9])

In [38]:
rd3 = rd1.union(rd2)

In [39]:
rd3.collect()

[2, 4, 7, 9, 1, 4, 5, 8, 9]

In [40]:
rd3.distinct().collect()

[4, 8, 9, 1, 5, 2, 7]

In [41]:
rd1.cartesian(rd1).collect()

[(2, 2),
 (2, 4),
 (4, 2),
 (4, 4),
 (2, 7),
 (2, 9),
 (4, 7),
 (4, 9),
 (7, 2),
 (7, 4),
 (9, 2),
 (9, 4),
 (7, 7),
 (7, 9),
 (9, 7),
 (9, 9)]

In [42]:
rd11 = sc.parallelize(["a", "b", "c", "d", "e"])
rd22 = sc.parallelize(["apple", "ball", "cal", "dog"])

In [43]:
rdda = sc.parallelize([1, 2, 3, 4, 5])
rddb = sc.parallelize([1, 3, 4, 6])

In [44]:
rda_11 = rdda.zip(rd11)

In [45]:
rda_11.collect()

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [46]:
rdb_22 = rddb.zip(rd22)

In [47]:
rdb_22.collect()

[(1, 'apple'), (3, 'ball'), (4, 'cal'), (6, 'dog')]

In [48]:

rda_11.join(rdb_22).collect()

[(4, ('d', 'cal')), (1, ('a', 'apple')), (3, ('c', 'ball'))]

In [49]:
rda_11.leftOuterJoin(rdb_22).collect()

[(4, ('d', 'cal')),
 (1, ('a', 'apple')),
 (5, ('e', None)),
 (2, ('b', None)),
 (3, ('c', 'ball'))]

In [51]:
rda_11.rightOuterJoin(rdb_22).collect()

[(4, ('d', 'cal')),
 (1, ('a', 'apple')),
 (6, (None, 'dog')),
 (3, ('c', 'ball'))]

In [52]:
rda_11.fullOuterJoin(rdb_22).collect()

[(4, ('d', 'cal')),
 (1, ('a', 'apple')),
 (5, ('e', None)),
 (2, ('b', None)),
 (6, (None, 'dog')),
 (3, ('c', 'ball'))]

In [53]:
rda_11.join(rdb_22).collect()

[(4, ('d', 'cal')), (1, ('a', 'apple')), (3, ('c', 'ball'))]